.tableScreen{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}
.appbarContainer{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    width: 40px;
    padding: 20px 20px;
    height:100vh;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    transition: 300ms ease all;
}
.hoveranimation{
    transition: 500ms ease-in all;
}

.appbarContainer:hover{
    width: 240px;
    transition: 300ms ease all;

}

.applogocontainer{
    display: flex;
    height: 70px;
    flex-direction: row;
    align-items: center;
}
.navigationContainer{
    display: flex;
    flex:1;
    flex-direction:column;
    margin-top: 100px;
    
}
.navigationRowConatiner{
    display: flex;
    align-items: center;
    opacity: .6;
    flex-direction:row;
}

.sliderContainer{
    width: 100px;
}

.contentContainer{
    display: flex;
    flex:1;
    padding: 10vh;
    align-items: center;
    justify-content: center;
    

}
.cardContainer{
    display:flex;
    flex-direction: column;
    width:70vw;
    height: 83vh;
    overflow: hidden;
    border:solid rgba(128, 128, 128, 0.116) 1px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 6px 7px 79px -19px rgba(0,0,0,0.63);
-webkit-box-shadow: 6px 7px 79px -19px rgba(0,0,0,0.63);
-moz-box-shadow: 6px 7px 79px -19px rgba(0,0,0,0.63);
}
.filterContainer{
    width:100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.limitRContainer{
    min-width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.limitRContainer p{
    color: black;
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
    
}
.loaderContaienr{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}
.tableContainer{
    display: flex;
    flex:1;
    position: relative;
    overflow-x:scroll;
    margin: 10px;
}
.tableContainer table{
    width:100%;
    height: calc(100% - 50px);
    border-collapse:collapse;
   
}
.tableContainer table thead tr{
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    backdrop-filter: blur(6px);
    vertical-align:middle;
    background-color: rgba(255, 255, 255, 0.88);
    /* border-radius: 10px; */
    /* overflow: hidden; */
}
th{
    text-align: justify;
    min-width:100px;
    padding: 10px 20px;
    
    color: black;
}
thead th{
    font-size: 15px;
}
.tableContainer table tbody tr{
    height: 30px;
    box-shadow: 6px 7px 79px -19px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 6px 7px 79px -19px rgba(0, 0, 0, 0);
    -moz-box-shadow: 6px 7px 79px -19px rgba(0, 0, 0, 0);
    transition: 500ms ease all;
    
}
.tableContainer table tbody tr:hover{
    height: 60px;
    cursor: pointer;
    box-shadow: 6px 7px 79px -19px rgba(0, 0, 0, 0.489);
    -webkit-box-shadow: 6px 7px 79px -19px rgba(0, 0, 0, 0.489);
    -moz-box-shadow: 6px 7px 79px -19px rgba(0, 0, 0, 0.489);
    transition: 200ms ease all;

}

.tableContainer table tbody tr th{
    font-weight: 500;
    font-size: 12px;
}


/* .tableContainer table tbody tr:nth-child(even) {
    background: rgba(185, 185, 185, 0.058);
  } */



.tableContainer table tbody tr{
    height: 50px;
    border-bottom: solid .5px rgba(75, 75, 75, 0.42);
}
.footerContainer{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px 20px;
}
.pagenationContainer{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-right: 30px;
    column-gap: 10px;
}
.footerContainer p{
    color: black;
    font-weight: 700;
    font-size: 12px;
    
}
.buttonContainer{
    width:70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: black;
    border-radius: 20px;
}
.buttonContainer p {
    color: white;
}